::-webkit-scrollbar{
    display: none;
  }
  .remove-arrow::-webkit-inner-spin-button,
  .remove-arrow::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .remove-arrow {
    -moz-appearance: textfield;
  }
  
  .placeholder-transparent::placeholder {
    color: transparent;
  }
  
  .error{
    color: #AB0000;
  }